{% extends "base.html" %}
{% block content %}

<h1>Welcome on the board!</h1>


{% for msg in messages %}
    <div><p>{{ msg.author.username }} says: <b>{{ msg.content }}</b></p></div>
{% endfor %}

  <form action="" method="post" name="index">
      {{ form.hidden_tag() }}
      <p>
          Please enter your message:<br>
          {{ form.message(size=80) }}<br>
      </p>
      <p><input type="submit" value="bla"></p>
  </form>

  <script type="text/javascript">
    window.onload = setupRefresh;

    function setupRefresh() {
      setTimeout("refreshPage();", 20000); // milliseconds
    }
    function refreshPage() {
       window.location = location.href;
    }
  </script>

{% endblock %}

