{% extends "base.html" %}
{% block content %}

{% for msg in messages %}
    <div><p>{{ msg.author.username }} says: <b>{{ msg.content }}</b></p></div>
{% endfor %}

  <form action="/post" method="post" name="index">
      {{ form.hidden_tag() }}
      <p>
          {{ form.message(size=80) }}
      <input type="submit" value="bla"></p>
  </form>

  <script type="text/javascript">
    window.onload = setupRefresh;

    function setupRefresh() {
      setTimeout("refreshPage();", 20000); // milliseconds
    }
    function refreshPage() {
       window.location = location.href;
    }
  </script>

{% endblock %}

