{% extends "base.html" %}
{% block content %}

<h1>User list</h1>


{% for u in users %}
    <div>
        <p>{{ u.username }}</p>
        <p>
            <form action="/admin/change-password" method="post" name="change-password">
                {{ forms[u.username].hidden_tag() }}
                {{ forms[u.username].username}}
                {{ forms[u.username].password(size=80) }}
                <p><input type="submit" value="change password"></p>
            </form>
        </p>
    </div>
{% endfor %}

{% endblock %}

